@import "components/Base";


li {
  margin-bottom: 20px;
}

li.book {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

ul {
  list-style-type: none;
}

input,
button {
  font-size: 36px;
  padding: 10px;
}

button {
  margin-left: 20px;
  background: yellow;
}

.hey {
  color: blue;
}
